/* ----------------------------------------
Base Styles
------------------------------------------- */

body {
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 26px;
	color: black;
	margin: 0;
	letter-spacing: .4px;
	word-spacing: .4px;
}

img {
	display: block;
	max-width: 100%;
}

a {
	cursor: pointer;
}

#main-content {
	display: none;
}


/* ----------------------------------------
Typography
------------------------------------------- */

h1, h2, h3, h4, h5, h5, p {
	margin: 0;
}

h1 {
	font-size: 80px;
	line-height: 105px;
	font-weight: 800;
}

h2 {
	font-size: 28px;
	line-height: 52px;
	font-weight: 800;
}

h3 {
	font-size: 20px;
	line-height: 36px;
	font-weight: 300;
}

.large-text {
	font-size: 18px;
	line-height: 32px;
}

.small-text {
	font-size: 12px;
	line-height: 24px;
}

/* ----------------------------------------
Header
------------------------------------------- */

header {
	max-width: 984px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	margin: 0 auto;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 35px 8px 20px 8px; 
	-ms-flex-flow: row wrap; 
	    flex-flow: row wrap;
}

header img {
	width: 250px;
	/*-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;*/
}

/*header img:hover {
	-webkit-transform: scale(1.07);
	        transform: scale(1.07);
}*/

nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

nav ul {
	-webkit-padding-start: 0;
}

nav li {
	display: inline-block;
	padding-left: 30px;
}

nav li a,
.navigate a {
	font-size: 11px;
	line-height: 20px;
	text-decoration: none;
	color: #bbb;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	display: inline-block;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

nav li a:hover,
.navigate a:hover {
	color: black;
	font-size: 12px;
}

nav li a:after,
.navigate a:after {
	display:block;
	content: '';
	border-bottom: solid 1px black;  
	-webkit-transform: scaleX(0.0001);  
	        transform: scaleX(0.0001);  
	-webkit-transition: -webkit-transform .3s ease-in-out;  
	transition: -webkit-transform .3s ease-in-out;  
	transition: transform .3s ease-in-out;  
	transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

nav a:hover:after,
.navigate a:hover:after {
	-webkit-transform: scaleX(1);
	        transform: scaleX(1);
}

.hamburger {
	display: none;
}

form .submit:hover {
	cursor: pointer;
}

/* ----------------------------------------
Buttons
------------------------------------------- */

button {
	cursor: pointer;
	outline: 0;
	border: 2px solid #44545E;
	color: #44545E;
	padding: 8px 45px;
	background-color: transparent;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1.2px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

button:hover {
	background-color: #44545E;
	color: white;
	-webkit-transform: scale(1.04);
	        transform: scale(1.04);
}

/* ----------------------------------------
Forms
------------------------------------------- */

input, textarea {
	margin-bottom: 12px;
	margin-right: 30px;
	padding: 9px 8px;
	outline: 0;
	width: 466.5px;
	text-align: left;
	border: 2px solid #fff;
}

textarea {
	height: 100px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #999;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	color: black;
	transition: all .6s ease-in-out;
}

input[type=text],
input[type=email],
textarea,
.boxsizing-border {
	box-sizing : border-box;
	width: 100%;
}

.error {
	border: 2px solid #F95758;
	transition: all .3s ease-in-out;
}

/* ----------------------------------------
Gallery
------------------------------------------- */

.gallery {
	max-width: 1000px;
	margin: 0 auto 100px auto;
}

.grid-wrapper img { 
	width: 100%;
	height: auto;
}

.grid-wrapper {
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	-ms-flex-direction: column; 
	-ms-flex-flow: row wrap; 
	    flex-flow: row wrap; 
	display: -webkit-box;
	display: flex;
	position: relative;
	overflow: hidden;
}

.grid-wrapper article {
	-webkit-box-flex: auto;
	-ms-flex: auto;
	flex: auto; 
	width: 300px;
	margin: 8px; 
	position: relative;
	display: block;
	max-width: 100%;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.grid-wrapper article:hover {
	-webkit-transform: scale(1.02);
	        transform: scale(1.02);
}

.overlay {
	@media only screen and (max-width: 800px) {
		position: absolute;
		top: 0;
		color: #fff;
		background-color: rgba(0,0,0,0.5);
		width: 100%;
		height: 100%;
		text-align: center;
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		-webkit-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		z-index: 10;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}

.overlay-hover {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.overlay-hover hr.divider {
	width: 20%;
}

hr.divider {
	margin: 3px auto;
	border: 1;
	border-style: none;
	height: 1px;
	background-color: white;
	width: 0;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

/* ----------------------------------------
Project
------------------------------------------- */

.project {
	max-width: 800px;
	text-align: center;
	margin: 22px auto 100px auto;
	padding: 8px;
}

.project p {
	margin: 30px 0 50px 0;
}

.project-img-wrapper img {
	margin-bottom: 50px;
}

.project hr {
	border-style: none;
	height: 1px;
	background-color: black;
	width: 100px;
	margin: 2px auto 7px auto;
}

.navigate {
	padding: 8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-flow: row wrap; 
	    flex-flow: row wrap;
}


/* ----------------------------------------
Footer
------------------------------------------- */

footer {
	background-color: black;
	padding: 50px 25px;
	color: white;
}

footer a {
	color: white;
}

.footer-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-width: 984px;
	margin: 0 auto; 
	-ms-flex-flow: row wrap; 
	    flex-flow: row wrap; 
}

#about {
	width: 47%;
}

#contact {
	width: 47%;
	margin-top: 20px;
}

.footer-wrapper p {
	margin: 0 0 10px 0;
}

footer i {
	margin: 12px 6px 0 0;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

footer i:hover {
	-webkit-transform: scale(1.15);
	        transform: scale(1.15);
}


/* ----------------------------------------
Thank You Page
------------------------------------------- */


body.thank-you-page {
	background-color: black;
	color: white;
	text-align: center;
}

.thank-you-page a {
	color: white;
}

.thank-you-page h2 {
	margin-top: 300px;
}


/* ----------------------------------------
Konami
------------------------------------------- */

.img-effect {
	-webkit-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
	-webkit-transform: rotate(360deg);
	        transform: rotate(360deg);
}


/* ----------------------------------------
Media Styles
------------------------------------------- */

@media only screen and (max-width: 800px) {
	
	.gallery {
		margin: 0 auto;
	}

}

@media only screen and (max-width: 500px) {

	#about {
		width: 100%;
	}

	#contact {
		width: 100%;
		margin-top: 80px;
	}

	footer {
		padding: 80px 25px;
	}

	footer button {
		width: 100%;
	}

	.logo {
		width: 100%;
	}

	.logo img {
		margin: 0 auto 15px auto;
	}

	nav {
		width: 100%;
		margin: 0 auto;
	}

	.hamburger {
		display: block;
		text-align: center;
		text-decoration: none;
		color: #999;
		-webkit-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		margin: 10px auto 0 auto;
	}

	.hamburger:hover {
		color: black;
		-webkit-transform: scale(1.06);
	        transform: scale(1.06);
	}

	nav ul {
		display: none;
	}

	#dropdown li {
		display: block;
		text-align: center;
		padding: 10px 0; 
	}

}
